<h1>Create a new sub!</h1>

<form action="<%= subs_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label>Name
        <input type="text" name="sub[title]" value="">
    </label>
    <br>
    <label>Description
        <textarea name="sub[description]" rows="3" cols="20"></textarea>
    </label>
    <button>Submit!</button>
</form>